.adminCalendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timeSlotPickerContainer {
    margin-bottom: 2em;
    display: 'flex'; 
    flex-wrap: 'wrap'; 
    width: 50em;
    /* max-width: 37.5em; */
}

.saveTimesButton:hover {
    background-color: rgb(26, 172, 26);
    color: white;
}