.orderCurrent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: rgb(255, 185, 54);
    color: black;
    padding: 1em;
    border-radius: 3em;
    margin-right: 2em;
}

.viewOrderButton {
    background-color: rgb(221, 144, 0);
    color: white;
}

.viewOrderButton:hover {
    color: rgb(15, 37, 233);
}

