.carousel {
    display: flex;
    position: relative;
    min-width: 100%;
    min-height: 80%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }
  .carousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
  }
  .carousel__btn:hover {
    color: rgba(12, 211, 39, 0.8);
  }
  .carousel__btn--prev {
    left: 0;
  }
  .carousel__btn--next {
    right: 0;
  }
  .carousel__img {
    width: 225px;
    height: 225px;
    max-width: 225px;
    max-height: 225px;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  .carousel__img:hover {
    transform: scale(1.05);
  }