/* .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cart-item-price {
    color: #555;
    margin-bottom: 5px;
}

.cart-item-quantity {
    font-size: 14px;
} */


/* Test */

/* .cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.cart-item-price,
.cart-item-quantity {
    font-size: 14px;
    color: #555;
} */

.checkoutShoppingCartContainer#empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 9em;
}

.checkoutShoppingCartContainer#notEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
}

.cartHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}