/* FoodMenu.css */
.menu-item {
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.detailsContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    margin-right: -1em;
}

#food-menu {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    margin-top: 2em;
}



.food-item {
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto 30px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: red;
}

.menuItemName {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
    color: rgb(255, 185, 54)
}

.menuItemImage {
    height: 18em;
    width: 18em;
    object-fit: cover; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: If you want to add a shadow */
}

.optionContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.selectContainer > label {
    margin-right: 1em;
}

.selectContainer > select {
    width: 5.5em;
    border-radius: 4px;
}



.nonDiscountContainer {
    display: flex;
    align-items: center;
}

.discountContainer {
    display: flex;
}

.discount {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: red;
    font-size: 12px;
    font-style: italic;
    margin-left: -2em;
    margin-top: -2px;
}

span.option { 
    border-radius: 8px;
    padding: 0.6em 0;
    background-color: rgb(89, 74, 71);
    color: rgb(243, 235, 235);
}


.option { 
    color: rgb(89, 74, 71);
    background-color: rgb(243, 235, 235);
    font-weight: 600;
    margin-right: 2em;
    width: 15em;
}

.selectContainer {
    color: rgb(89, 74, 71);
    background-color: rgb(243, 235, 235);
    font-weight: 600;
    margin-right: 2em;
    width: 15em;
    border-radius: 8px;
    padding: 0.6em 0;
}

.selectedOption {
    background-color: rgb(153, 196, 135);
    color: white; 
}

.validSelector {
    background-color: rgb(255, 185, 54);
    color: rgb(255, 255, 255);
    font-weight: 600;
    width: 15em;;
}

.validSelector:hover {
    color: rgb(89, 74, 71);
}

.buttonContainer {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.buttonContainer {
}

.buttonContainer > button {
    width: 15em;;
}

.invalidSelector {
    width: 15em;;
}



.food-item p {
    margin-bottom: 0;
}

.bestSellerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1em;
}

.bestSellerContainer > span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-right: 0.25em;
}

.popularItemText {
    /* font-style: italic; */
    font-size: 14px;
}

.itemDescription {
    color: rgb(89, 74, 71);
    display: flex;
    align-items: flex-start;
    font-size: 17px;
    max-width: 700px;
}

