/* OrderCard Styles */
.orderCard {
    background-color:  rgb(243, 235, 235);
    color: rgb(89, 74, 71);
    border: 1px solid #666;
    border-radius: 8px;
    margin: 0; /* Reset margins */
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease; /* Transition for all properties */
    width: 90%; 
    box-sizing: border-box; /* Include padding and border in the width */
    flex-shrink: 0; /* Prevent cards from shrinking */
}

.orderCard:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(116, 100, 97);
    
}

.orderCardIdContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.orderIdContainer#modal {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.orderCardIdContainer > h3,
.orderCardIdContainer > h6 {
    margin-top: 0; /* Remove top margin to align at the top */
    margin-bottom: 1em; /* Add some bottom margin if needed */
}

.orderIdContainerTitle {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 1em;
}

.orderDetailsTitleContainer,
.orderStatusContainer,
.orderPickupDateContainer,
.orderSubtotalContainer {
    font-size: 16px;
}

.orderPickupDateContainer,
.orderSubtotalContainer {
    margin-bottom: 1em;
}

.orderCardConfirmationStatuses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8em;
    
}

.orderCardIconContainer {
    display: flex;
}

.orderCardImages {
    display: flex;
    flex-direction: column;
}

.orderCardIconTitle {
    display: flex;
    align-items: flex-start;
}


.orderCardIcon {
    width: 5em;
    height: 5em;
    margin-right: 1em;
}




