.order-list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1.25em;
}

.filters {
    margin-bottom: 1.25em;
    text-align: center;
}

.filters input, .filters button {
    padding: 0.625em;
    margin: 0 0.3125em;
}

.scrollable-table-container {
    overflow-x: auto;
    width: 100%;
    margin: auto;
}

.scrollable-table-container::-webkit-scrollbar {
    display: none;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.25em;
    table-layout: fixed; /* Add this line */
}

.orders-table th, .orders-table td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
    white-space: nowrap;
}

.orders-table th {
    background-color: #f2f2f2;
}

/* Percentage widths for table headers */
.order-id { width: 16%; }
.date-order-generated { width: 15%; }
.customer-name { width: 15%; }
.customer-email { width: 25%; }
.order-subtotal { width: 10%; }
.payment-status { width: 12.5%; }

.orders-table td button {
    width: 100%;
    height: 100%;
    padding: 0.3125em 0.625em;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.orders-table td button:hover {
    background-color: #5cb33a;
    color: #ffffff;
}

#orderId { font-size: 0.75em; }

.paid, .status.fulfilled { color: green; }
.unpaid, .status.unfulfilled { color: red; }

@media (max-width: 768px) {
    .orders-table, .orders-table thead, .orders-table tbody, .orders-table th, .orders-table td, .orders-table tr {
        display: block;
    }

    .orders-table th { display: none; }

    .orders-table td {
        border: none;
        position: relative;
        text-align: right;
        width: auto;
        height: auto;
        padding: 0;
    }

    .orders-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        font-weight: bold;
        text-align: left;
    }
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

/* .modalText#payments-pending {
    font-size: small;
    font-weight: 700;
    font-style: italic;
} */

.loadOrdersButton {
    background-color: rgb(245, 167, 22);
    color: white;
}

.loadOrdersButton:hover {
    background-color: rgb(245, 167, 22);
    color: rgb(89, 74, 71);
    font-weight: 700;
}

.modal-backdrop > .modal-content#payments-pending,
.modal-backdrop > .modal-content#production-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    overflow-x: hidden;
    overflow-y: hidden;;
}

.leftHalf,
.rightHalf {
    display: flex;
    flex-direction: column;
}


.leftHalf{
    min-width: 50%;
    width: 50%;
    margin-right: 0.5em;
}

.rightHalf{
    /* min-width: 50%; */
    width: 50%;
    margin-left: 0.5em;
}

/* .modal-content#payments-pending > .rightHalf{
    width: 45%;
    background-color: bisque;
    border: 1px solid black;
    padding: 2.5em;
    padding-top: 0;
} */


.informationContainer {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5em;
    background-color: rgb(243, 235, 235);
    margin-bottom: 1em;
    border: 1px solid black;
}


.informationContainer > p {
    font-size: 18px;
}

.switchContainer {
    height: 50%;
    background-color: rgb(233, 204, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
}

.logisticsContainer {
    height: 50%;
    background-color: #8b8888;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
}

.confirmPaymentInstructionsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.confirmPaymentInstructionsContainer > div {
    text-align: left; /* Ensures text within each div aligns to the left */
    padding-right: 2em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    margin-left: 0; /* Ensures that there is no additional space on the left */
    padding-left: 2em;
}

#confirmTitle {
    display: flex;
    font-size: 20px;
    padding-left: 1.5em;
}


.modalText#subtotal {
    font-weight: 700;
    color: re;
}

.confirmPaymentButton {
    width: 80%;
    margin-bottom: 1.5em;
}


  /* Right Half Contents */

.order-items-summary-container {
    height: 43.5%;
    max-height: 43.5%;
    min-height: 43.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5em;
    padding-top: 0;
    background-color: rgb(248, 195, 115);
    margin-bottom: 1em;
    border: 1px solid black;
    color: black;
}

.adminCommentsContainer {
    min-height: 45.4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(247, 223, 179);
    border: 1px solid black;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 0.5em;
    color: black;
}

.order-items-summary-container > .closeButtonContainer {
    width: 100%;
    height: 1em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 1em;
    padding-top: 0.5em;
    margin-top: 1em;
    margin-bottom: -1em;
}



.orderItemsTitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1em;
}

.orderContentsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    overflow-y: hidden;
}

.orderContentsContainer > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5em;
    font-size: 15px;
}



.editMode {
    padding-right: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  
  /* Shared styles for both editable and static display */
  .editMode textarea{
    font-size: 16px; /* Match the font size */
    display: flex;
    resize: none;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%; /* Full width of the container */
    border: 1px solid #ccc; /* Same border as textarea */
    background-color: #fff; /* Same background as textarea */
    padding: 0.6em;
    height: 12.5em;
    overflow-y: auto; /* Allow vertical scroll if needed */
    margin-bottom: 0.8em;
    scrollbar-color: #4e2323 transparent; /* thumb and track */
    scrollbar-width: thin; /* can be 'auto', 'thin', or 'none' */
  }
  

  .adminCommentsTitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1em;
    height: 10%;

  }
  
  /* Specific styles for the static text display */
  .commentDisplay {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-bottom: -3em;

  }


  .adminTextWrapper {
    height: 75%;
    overflow-y: auto;
    padding-right: 0.6em; /* Space for the scrollbar */
    scrollbar-color: #4e2323 transparent; /* thumb and track */
    scrollbar-width: thin; /* can be 'auto', 'thin', or 'none' */
    margin-bottom: 1em;
  }
  
  /* Update the .adminText class */
  .adminText {
    text-align: left;
    padding-right: 0.6em; /* Padding to push text away from the scrollbar */
    min-height: 10em;
  }

.editCommentButtonContainer {
    width: 100%;
    /* display: flex;
    align-items: flex-end;
    justify-content: flex-end; */
    padding-left: 0;
    padding-right: 0;
  }

  .saveCommentButtonContainer {
    margin-left: 4em;
  }

  .editCommentButtonContainer > .editCommentButton,
  .editCommentButtonContainer> .saveCommentButton {
    font-size: 16px;
    color: rgb(43, 41, 41);
    width: auto; 
    background-color: transparent; 
    border: transparent;
  }

  .editCommentButtonContainer > .editCommentButton:hover,
  .saveCommentButtonContainer > .saveCommentButton:hover {
    color: blue;
  }
  