@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap');

.icon {
    font-family: 'Material Symbols Outlined';
    color: white; /* Icon color */
    font-size: 24px; /* Icon size */
    margin-right: 0.5em; /* Adjust spacing to match your layout */
}


.sidebarContainer {
    min-width: 16%;
    height: 100vh;
    background-color: rgb(255, 184, 52);
}

.sideBarCompanyTitleContainer {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 2.5em;
    margin-left: 0.8em;
}

.menuNavContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1em;
    margin-bottom: 3em;
}

.menuNavContainer > .sectionTitle {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 2.8em;
}

.sidebarNavContainer {
    display: flex;
    align-items: center;
    width: 90%;
    font-size: 17px;
    margin-top: 1em;
    color: white;
    background-color: rgb(221, 144, 0);
    padding: 0.4em;
    border-radius: 1em;
    /* border: 1px solid black; */
}

.sidebarNavContainer.current,
.sidebarNavContainer.current > .icon  {
    color: rgb(89, 74, 71);
    font-weight: 700;
}

.sidebarNavContainer:hover,
.sidebarNavContainer:hover > .icon{
    color: rgb(216, 218, 235);
    font-weight: 700;
}


.sidebarNavContainer > img {
    margin-left: 1em;
    margin-right: 0.5em;
}

