.StepTracker {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-left: 3em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
  position: relative; /* Ensure the relative positioning for line placement */
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Adjust for line positioning */
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc; /* Default color for upcoming steps */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  color: black; /* Ensure text color is visible for default and completed states */
}

.circle.active {
  background-color: #007bff; /* Active step color */
  color: white;
}

.circle.completed {
  background-color: #28a745; /* Completed step color */
  color: white;
}

.line {
  height: 2px;
  width: calc(100% / 3); /* Adjust width based on number of steps and container width */
  background-color: #ccc; /* Default line color for upcoming steps */
  position: absolute;
  z-index: -1;
  top: 15px; /* Adjust line position to connect centers of circles */
  left: 50%; /* Center line relative to step container */
  transform: translateX(-50%); /* Center align the line */
}

.line.completed {
  background-color: #28a745; /* Completed line color */
}

h3 {
  font-size: 16px;
  text-align: center;
}