/* .subtotal-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 35%;
    height: 75vh;
} */

#shoppingCartPage > .subtotal-container {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    position: sticky;
    top: 120px; /* Adjust this value as per your requirement */
    align-self: start; /* Align to the start of the flex container */
    z-index: 10;
}

.checkoutItemsContainer > .subtotal-container {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 4.8em; /* Adjust this value as per your requirement */
    
}

.subtotal-text {
    font-size: 18px;
    font-weight: bold;
    margin-right: -2.5em;
}

.subtotal-amount {
    font-size: 18px;
    color: #B12704; /* Amazon's subtotal price color */
}

.headerContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.checkoutButton {
    background-color: rgb(231, 231, 30);
    margin-bottom: 2em;
}