/* Ensures the entire page takes up the full viewport */
.pageContent#adminPage {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Simplify overflow rules */
}

/* Container that holds both the sidebar and the main content */
.adminPageContainer {
    display: flex;
    width: 100%;
    min-height: 100vh; /* Ensures it takes up at least the full height of the viewport */
}

/* Sidebar styles */
.sidebarContainer {
    flex: 0 0 15%; /* Locks the sidebar width but makes it flexible for layout adjustments */
    height: 100vh; /* Ensures sidebar height matches the viewport */
    /* Add your existing styles for the sidebar here */
}

/* Main content area */
.mainContent {
    flex-grow: 1; /* Allows main content to take up the rest of the space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally in the flex container */
    justify-content: flex-start; /* Center content vertically in the flex container */
    padding: 2em;
    overflow-y: hidden; /* Allows content to scroll if it overflows vertically */
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
    margin-right: 15em;
}