/* Ensures the entire page takes up the full viewport */
.pageContent#adminPage {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Simplify overflow rules */
}

/* Container that holds both the sidebar and the main content */
.adminPageContainer {
    display: flex;
    width: 100%;
    min-height: 100vh; /* Ensures it takes up at least the full height of the viewport */
}


/* Main content area */
.mainContent {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Center content vertically in the flex container */
    overflow-x: hidden; /* Allows content to scroll if it overflows vertically */
    overflow-y: hidden; /* Allows content to scroll if it overflows vertically */
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
    margin-right: 2em;
    margin-left: 1em;

}

.adminPageContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin-left: 1em;
}

/* Main Containers CSS */

.pickupsOverviewContainer {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 98.5%;
    margin-bottom: 1em;
}

.statisticsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 30%;
    width: 100%;
}


/* pickupsOverviewContainer elements */ 

.pickupsOverviewTitle {
    font-size: 18px;
    height: 10%;
    display: flex;
}

.pickupsTodayContainer {
    height: 90%;
    width: 100%;
    overflow-y: auto;
    scrollbar-color: #4e2323 transparent; /* thumb and track */
    scrollbar-width: thin; /* can be 'auto', 'thin', or 'none' */
}

/* statisticsContainer elements */ 

.statCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48.63%;
    height: 100%;
    border: 1px solid black;
    margin-right: 1em;
}

.dataTitle {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.dataTitle > span {
    margin-left: 0.3em;
    font-size: 40px;
}


.dataValue {
    font-size: 50px;
}