.orderManagementLink {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.orderNumberContainer {
    margin-top: 1em;
}

.orderCodeContainer {
    font-size: 24px;
    font-weight: 700;
}