
  
  body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
  }

  .pageContent#orderManagement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    overflow-y: hidden;
  }

  .login-page-content {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .login-page-container#standard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }


  .login-page-content-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2em;
  }

  .login-page-order-summary-text {
    height: 52%;
    overflow-y: auto;
    /* border: 1px solid black; */
  }

  
.login-page-content-right {
  width: 35%;
  height: 100v;
  padding: 2em;
  background-color: #eeee;
}

.login-page-container {
  height: 45%;
}

.login-page-container form {
  width: 100%; 
}

.login-page-container input,
.login-page-container button {
  padding: 0.625em;
  margin-top: 0.3125em;
  border: 0.0625em solid #ccc;
  border-radius: 16px;
}


.login-modal#standard {
  /* Modal specific styles for raised effect */
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.2);
  background: #fff; /* Assuming a light mode design */
  border-radius: 5px; /* Optional: for rounded corners */
  padding: 20px; /* Adjust as needed */
  position: relative; /* Adjust as necessary, could be absolute or fixed based on your layout */
  height: 30em;
}

.login-modal#confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Modal specific styles for raised effect */
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.2);
  background: #fff; /* Assuming a light mode design */
  border-radius: 5px; /* Optional: for rounded corners */
  padding: 20px; /* Adjust as needed */
  position: relative; /* Adjust as necessary, could be absolute or fixed based on your layout */
  height: 90%;
  margin-top: -1em;
  z-index: 0;
}
  
  /* .login-page-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500; 
  } */

.googleHeader {
  text-align: center;
  margin-top: 1em;
}

/* Responsive container */
.accessContainer {
  display: flex;
  flex-direction: row; /* Keeps items side by side */
  justify-content: space-between; /* Spaces out the children evenly */
  align-items: stretch; /* Ensures children stretch to match height */
  width: 100%; /* Ensures the container takes the full width of its parent */
  gap: 2%; /* Adjusts the gap between items */
  padding: 0; /* Resets any padding */
  margin-top: 6em;
}
  
  
.login-container,
.anonymous-access-container {
  width: 85%; /* Each container takes up 45% of the accessContainer's width */
  padding: 1.25em; /* 20px */
  border: 0.0625em solid #ccc; /* 1px */
  border-radius: 16px; /* 4px */
  background-color: var(--primary-color)
}

.or-divider {
  text-align: center;
  align-self: center;
  position: relative;
  line-height: 1; /* Aligns the line with the middle of the text */
  margin-top: 2em;
  margin-bottom: 1em;
  height: 10px;
  width: 45%;
}


.or-divider#standard {
  width: 100%;
}

.or-divider span {
  background-color: #fff; /* Match the background color of your modal */
  padding: 0 10px; /* Provide some space around the text */
  position: relative; /* Needed to ensure the z-index applies */
  z-index: 1; /* Places the text above the pseudo-elements */
}

.or-divider::before,
.or-divider::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Center lines vertically */
  width: 35%;
  height: 1px;
  background-color: #ccc;
  z-index: 0; /* Below the text */
}

.or-divider::before {
  left: 0;
  margin-left: 8%;
}

.or-divider::after {
  right: 0;
  margin-right: 8%;
}


.order-id-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-id-form > button.anonymousAccessInteraction {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 25em;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; /* Optional, depending on your design */
  cursor: pointer;
  background-color: #007bff;
  color: white;
  box-shadow: 1px;
  border-radius: 16px;
}

.order-id-form > button.anonymousAccessInteraction:active,
.order-id-form > button.anonymousAccessInteraction:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
  background-color: #0056b3;
}

.firebaseui-container {
  margin-right: 2.3em;
}

/* This will center the text inside the button */
.firebaseui-idp-button .firebaseui-idp-text {
  text-align: center;
}

/* To move the button, you'll likely need to adjust the container of the button */
.firebaseui-idp-button, .firebaseui-tenant-button {
  width: 25em;
  max-width: 25em;
}

.order-id-form > input.anonymousAccessInteraction {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 23.5em;
  border: 1px solid black;
  margin-bottom: 0.5em;
}


@media (min-width: 48em) {
  /* Keeps the layout consistent for wider screens */
  .accessContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}



/* Logged in state layout */
.loggedIn-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* User details and sign out side by side */
.user-details-container {
  display: flex;
  border: 1px solid var(--border-color);
  margin-top: 2em; /* Adjust top margin */
  margin-bottom: 1em;

}

.order-list-title {
  display: flex;
  margin-left: 1em;
}

/* User info styles */
.user-info-container {
  flex: 0 0 70%; /* Fixed width but can't shrink or grow */
  padding: 0.5em;
  border-right: 1px solid var(--border-color);
  background-color: rgb(153, 196, 135);
  color: var(--background-color);
}

/* Sign out button container */
.sign-out-container {
  flex: 1; /* Take the remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgb(132, 173, 114);
}

.sign-out-button {
  padding: 0.5em 1em;
  border: none;
  background-color: var(--text-color);
  color: var(--background-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-out-button:hover,
.sign-out-button:focus {
  background-color: var(--primary-color);
}

/* Orders outlet container */
.orders-outlet-container {
  flex-grow: 1;
  padding: 1em;
  border: 1px solid var(--border-color);
  margin-bottom: 2em; /* Space at the bottom */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .user-details-container {
    flex-direction: column;
  }

  .user-info-container,
  .sign-out-container {
    width: 100%;
    border-right: none;
  }

  .sign-out-container {
    order: -1; /* Bring the sign-out container above the user info on mobile */
  }
}
/* Utilities */
.animate {
  animation: pop 0.5s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}