.pageContent {
    width: 1000px;
}

#shoppingCartPage,
#checkoutPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.checkoutItemsContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}
