.shoppingCartPage {
    display: flex;
    width: 100%;
}

.checkoutShoppingCartContainer#shoppingCartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 58%;
    /* margin-top: 9em; */
}

.cartHeader#shoppingCartPage {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 5.3em;
    background: white;
    z-index: 10;
    height: 5em;
    /* margin-bottom: -0.75em; */
}


.cartItemContainer#shoppingCartPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 35em;
    /* height: 35em;  */
    overflow-y: auto; /* Allows vertical scrolling if content overflows */
    overflow-x: hidden; /* Hides horizontal scrollbar */
    padding-right: 1.5em; /* Adjust as needed */
    /* padding-top: 1.5em; */
    margin-top: 4em;
    border: 1px solid black;
}




.subtotal-container#shoppingCartPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 4px;

    margin-top: 5em;
    margin-right: -1em;

    width: 35%;
    position: sticky;
    align-self: start; /* Align to the start of the flex container */
    z-index: 10;
}

.headerContainer#shoppingCartPage {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 0.5em;
}



.subtotal-text#shoppingCartPage {
    font-size: 18px;
    font-weight: bold;
    width: 55%;
    /* margin-right: -2.5em; */
}

.subtotal-amount#shoppingCartPage {
    font-size: 18px;
    color: #B12704; /* Amazon's subtotal price color */
    width: 20%;
}





.checkoutButton {
    font-weight: 500;
    font-size: 18px;
    background-color: rgb(255, 185, 54);
    color:   rgb(255, 255, 255); 
    margin-bottom: 2em;
}

.checkoutButton:hover {
    font-weight: 700;
    color:   rgb(89, 74, 71); 
}



.checkoutButton#disabled {
    font-weight: 500;
    font-size: 18px;
    background-color: rgb(235, 235, 228);
    color:   rgb(255, 255, 255); 
    margin-bottom: 2em;
}

.checkoutButton:hover#disabled {
    color:   rgb(255, 255, 255); 
}




